<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <!-- <router-outlet></router-outlet> -->
          <a (click)="showInfo()">
            <ion-item>
              <ion-label position="floating">Acerca de</ion-label>
            </ion-item>
          </a>
          <a (click)="logout()">  
            <ion-item>
              <ion-label position="floating">Cerrar sesión</ion-label>
            </ion-item>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>