<ion-toolbar>
  <ion-buttons slot="start" routerLink="../options">
    <ion-button>
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title slot="end">Acerca de</ion-title>
</ion-toolbar>
<h3>ChatApp</h3>
<h6>versión 1.0.0 alpha</h6>
<h6>Aplicación desarrollada por Salvador Quintero y Azael Rodríguez.</h6>
<h6>Desarrollo de aplicaciones móviles.</h6>