<router-outlet></router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>