<ion-toolbar>
  <ion-buttons slot="start" routerLink="../options">
    <ion-button>
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title slot="end">Idioma</ion-title>
</ion-toolbar>
<ion-list>
  <ion-item>
    <ion-label>Idioma de la app</ion-label>
    <ion-select value="es" okText="Ok" cancelText="Cancelar">
      <ion-select-option value="es">Español</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>