<a routerLink="../language">  
  <ion-item>
    <ion-label position="floating">Idioma</ion-label>
  </ion-item>
</a>
<a routerLink="../aboutus">
  <ion-item>
    <ion-label position="floating">Acerca de</ion-label>
  </ion-item>
</a>
<a (click)="logout()">  
  <ion-item>
    <ion-label position="floating"><b>Cerrar sesión</b></ion-label>
  </ion-item>
</a>