<!-- https://ionicframework.com/docs/api/list -->
<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div id="messages" padding [innerHtml]="htmlMessage">   <!-- [innerHtml]="htmlMessage" -->
          
          <!-- <div class="blubble bot">
            <p>¡Hola! ¿En qué puedo ayudarte?</p>
          </div>
              
          <div class="blubble me">
            <p>¿Cómo se instala WhatsApp?</p>
          </div> -->
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-toolbar class="input-message">
  <ion-input placeholder="Mensaje" slot="start" 
  [(ngModel)]="messageme" id="input"></ion-input>
  <ion-buttons slot="end" >
    <ion-button color="primary" (click)="messagemeShow()">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>