.blubble {
  margin: 10px 0;
  padding: 10px;
  height: auto;
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.blubble::after {
  content: "";
  clear: both;
  display: table;
}

.bot {
  margin-right: 20%;
  background-color: #dddddd;
  color: black;
}

.me {
  margin-left: 20%;
  background-color: #3880ff;
  color: white;
}
