<ion-toolbar>
  <ion-buttons slot="start" routerLink="/home">
    <ion-button>
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title slot="end">Iniciar sesión</ion-title>
</ion-toolbar>

<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input id="input-email" type="email" autocomplete="off" maxlength="100" required="true" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input id="input-password" type="password" maxlength="100" required="true" [(ngModel)]="password"></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button (click)="login()" color="primary" expand="block">Iniciar sesión</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>