<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <img src="./../../assets/logo-text.svg" class="logo">
        </div>
        <div padding>
          <ion-button color="dark" expand="block" routerLink="/login">Iniciar sesión</ion-button>
          <br>
          <ion-button color="light" expand="block" routerLink="/signup">Crear cuenta</ion-button>
          <br>
          <ion-button expand="block" (click)="loginGoogle()">
            <ion-icon slot="start" name="logo-google"></ion-icon> CONECTAR CON Google
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>